<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tadpole.cloud.operationManagement.modular.shopEntity.mapper.TbComShopDataDownMapper">
     <select id="selectByPage" resultType="com.tadpole.cloud.operationManagement.api.shopEntity.model.result.TbComShopDataDownResult">
        select * from Tb_Com_Shop_Data_Down ${ew.customSqlSegment}
    </select>
</mapper>