<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tadpole.cloud.platformSettlement.modular.finance.mapper.MaterialMapper">

    <select id="getMaterial" resultType="com.tadpole.cloud.platformSettlement.api.finance.model.result.MaterialResult"
            parameterType="String">
        SELECT * FROM MCMS_BASE_DATA.RP_MATERIAL WHERE MATERIAL_CODE=#{materialCode}
    </select>

</mapper>

