<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tadpole.cloud.externalSystem.modular.mabang.mapper.B2bMabangOrderItemMapper">
     <select id="selectByPage" resultType="com.tadpole.cloud.externalSystem.modular.mabang.model.result.B2bMabangOrderItemResult">
        select * from B2B_MABANG_ORDER_ITEM ${ew.customSqlSegment}
    </select>
</mapper>