<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tadpole.cloud.externalSystem.modular.mabang.mapper.MabangWarehouseMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tadpole.cloud.externalSystem.modular.mabang.entity.MabangWarehouse">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="STATUS" property="status"/>
        <result column="TYPE" property="type"/>
        <result column="CONTACT" property="contact"/>
        <result column="COUNTRY_CODE" property="countryCode"/>
        <result column="PROVINCE" property="province"/>
        <result column="CITY" property="city"/>
        <result column="AREA" property="area"/>
        <result column="ADDRESS" property="address"/>
        <result column="ZIPCODE" property="zipcode"/>
        <result column="TELEPHONE" property="telephone"/>
        <result column="PHONE" property="phone"/>
        <result column="IS_DEFAULT" property="isDefault"/>
        <result column="CODE" property="code"/>
        <result column="FINANCE_CODE" property="financeCode"/>
        <result column="SYNC_TYPE" property="syncType"/>
        <result column="SYNC_TIME" property="syncTime"/>
        <result column="SYNC_STATUS" property="syncStatus"/>
        <result column="SYNC_FAIL_TIMES" property="syncFailTimes"/>
        <result column="SYNC_RESULT_MSG" property="syncResultMsg"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID,
        NAME,
        STATUS,
        CASE STATUS WHEN '1' THEN '启用' ELSE '停用' END AS statusName,
        TYPE,
        CASE TYPE WHEN '1' THEN '自建仓库' WHEN '2' THEN '第三方仓库' WHEN '3' THEN 'FBA仓' WHEN '4' THEN '平台仓' ELSE '停用' END AS typeName,
        CONTACT,
        COUNTRY_CODE,
        PROVINCE,
        CITY,
        AREA,
        ADDRESS,
        ZIPCODE,
        TELEPHONE,
        PHONE,
        IS_DEFAULT,
        CASE IS_DEFAULT WHEN '1' THEN '是' ELSE '否' END AS isDefaultName,
        CODE,
        FINANCE_CODE,
        SYNC_TYPE,
        SYNC_TIME,
        SYNC_STATUS,
        SYNC_FAIL_TIMES,
        SYNC_RESULT_MSG,
        CREATE_TIME,
        UPDATE_TIME
    </sql>

    <select id="findPageBySpec"
            parameterType="com.tadpole.cloud.externalSystem.modular.mabang.model.params.MabangWarehouseParam"
            resultType="com.tadpole.cloud.externalSystem.modular.mabang.model.result.MabangWarehouseResult">
        select
        <include refid="Base_Column_List"/>
        from MABANG_WAREHOUSE
        <where>
            <if test="paramCondition.name != null and paramCondition.name!=''">
                and NAME LIKE '%'||#{paramCondition.name}||'%'
            </if>
            <if test="paramCondition.status != null and paramCondition.status!=''">
                and STATUS=#{paramCondition.status}
            </if>
            <if test="paramCondition.type != null and paramCondition.type!=''">
                and "TYPE"=#{paramCondition.type}
            </if>
            <if test="paramCondition.financeCode != null and paramCondition.financeCode!=''">
                and FINANCE_CODE LIKE '%'||#{paramCondition.financeCode}||'%'
            </if>

            <if test="paramCondition.names != null and paramCondition.names.size() != 0">
                AND NAME IN
                <foreach collection="paramCondition.names" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="paramCondition.types != null and paramCondition.types.size() != 0">
                AND "TYPE" IN
                <foreach collection="paramCondition.types" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
    </select>


    <select id="k3MabangWarehouse"
            resultType="java.util.HashMap">

        SELECT a.FSTOCKID,
               b.FNAME
        FROM T_BD_Stock a,
             T_BD_STOCK_L b
        WHERE a.ISSPECIALWAREHOUSE = 1
          AND a.FUSEORGID = 100269
          AND a.FSTOCKID = b.FSTOCKID

    </select>


    <select id="queryNames" resultType="String">
        SELECT DISTINCT NAME FROM MABANG_WAREHOUSE WHERE STATUS = '1' ORDER BY NAME
    </select>

    <select id="warehouseList"
            parameterType="com.tadpole.cloud.externalSystem.modular.mabang.model.params.MabangWarehouseParam"
            resultType="com.tadpole.cloud.externalSystem.modular.mabang.model.result.MabangWarehouseResult">
        select
        <include refid="Base_Column_List"/>
        from MABANG_WAREHOUSE
        <where>
            <if test="paramCondition.name != null and paramCondition.name!=''">
                and NAME LIKE '%'||#{paramCondition.name}||'%'
            </if>
            <if test="paramCondition.status != null and paramCondition.status!=''">
                and STATUS=#{paramCondition.status}
            </if>
            <if test="paramCondition.type != null and paramCondition.type!=''">
                and "TYPE"=#{paramCondition.type}
            </if>
            <if test="paramCondition.financeCode != null and paramCondition.financeCode!=''">
                and FINANCE_CODE LIKE '%'||#{paramCondition.financeCode}||'%'
            </if>

            <if test="paramCondition.names != null and paramCondition.names.size() != 0">
                AND NAME IN
                <foreach collection="paramCondition.names" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="paramCondition.types != null and paramCondition.types.size() != 0">
                AND "TYPE" IN
                <foreach collection="paramCondition.types" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
    </select>

    <select id="getNewWarehouseByName"
            parameterType="java.lang.String"
            resultType="com.tadpole.cloud.externalSystem.modular.mabang.model.result.MabangWarehouseResult">
        select
        <include refid="Base_Column_List"/>
        from MABANG_WAREHOUSE
            where NAME =#{warehouse}
    </select>
</mapper>
