<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tadpole.cloud.operationManagement.modular.stock.mapper.VerifInfoRecordMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tadpole.cloud.operationManagement.modular.stock.entity.VerifInfoRecord">
        <id column="ID" property="id" />
        <result column="PURCHASE_ORDER_ID" property="purchaseOrderId" />
        <result column="VERIF_BIZ_TYPE" property="verifBizType" />
        <result column="VERIF_TYPE" property="verifType" />
        <result column="VERIF_PERSON_NO" property="verifPersonNo" />
        <result column="VERIF_PERSON_NAME" property="verifPersonName" />
        <result column="VERIF_DATE" property="verifDate" />
        <result column="VERIF_REASON" property="verifReason" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PURCHASE_ORDER_ID, VERIF_BIZ_TYPE, VERIF_TYPE, VERIF_PERSON_NO, VERIF_PERSON_NAME, VERIF_DATE, VERIF_REASON, REMARK, CREATE_TIME, UPDATE_TIME
    </sql>

</mapper>
