<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tadpole.cloud.externalSystem.modular.ebms.mapper.TbcomshopMapper">

    <select id="getShopList" parameterType="com.tadpole.cloud.externalSystem.api.ebms.model.param.TbcomshopParam"
            resultType="com.tadpole.cloud.externalSystem.api.ebms.model.result.TbcomshopResult">

        select * from TbComShop where shopState in ('正常','开通中')
        <if test="paramCondition.shopName != null and paramCondition.shopName != '' ">
            and shopName like CONCAT('%',#{paramCondition.shopName },'%')
        </if>
    </select>
</mapper>
