<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tadpole.cloud.supplyChain.modular.logistics.mapper.TgCustomsEssentialFactorMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        F.ID,F.CUSTOMS_CODE,F.ESSENTIAL_FACTOR,F.CREATE_TIME,F.CREATE_USER,F.UPDATE_TIME,F.UPDATE_USER
    </sql>

    <!-- 分页查询列表 -->
    <select id="queryPage"
            parameterType="com.tadpole.cloud.supplyChain.api.logistics.model.params.TgCustomsEssentialFactorParam"
            resultType="com.tadpole.cloud.supplyChain.api.logistics.model.result.TgCustomsEssentialFactorResult">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM TG_CUSTOMS_ESSENTIAL_FACTOR F
        <where>
            <if test="param.customsCode != null and param.customsCode != ''">
                F.CUSTOMS_CODE = #{param.customsCode}
            </if>
        </where>
        ORDER BY F.CREATE_TIME DESC, F.ID DESC
    </select>

    <!-- 报关要素下拉 -->
    <select id="essentialFactorSelect" resultType="com.tadpole.cloud.supplyChain.api.logistics.model.result.BaseSelectResult">
        SELECT F.ESSENTIAL_FACTOR AS name FROM TG_CUSTOMS_ESSENTIAL_FACTOR F
        WHERE F.ESSENTIAL_FACTOR IS NOT NULL
        GROUP BY F.ESSENTIAL_FACTOR
    </select>

    <!-- 删除报关要素引用的要素数据，并更新审核状态为反审：2 -->
    <select id="updateProductEssentialFactor" parameterType="java.lang.String">
        UPDATE TG_BASE_PRODUCT P
        SET
            P.ESSENTIAL_FACTOR = NULL,
            P.ESSENTIAL_FACTOR_TEMP = NULL,
            P.AUDIT_STATUS = '2',
            P.AUDIT_USER = #{name},
            P.AUDIT_TIME = SYSDATE
        WHERE
            P.ESSENTIAL_FACTOR IS NOT NULL
            AND P.CUSTOMS_CODE = #{customsCode}
    </select>
</mapper>
