<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tadpole.cloud.product.modular.productproposal.mapper.RdSampleCaMapper">
    <select id="listSampleCa" resultType="com.tadpole.cloud.product.api.productproposal.model.result.RdSampleCaResult">
        SELECT
        t3.SYS_PRO_NAME,t3.SYS_STYLE,t3.SYS_MAIN_MATERIAL,t3.SYS_BRAND,t3.SYS_MODEL,t3.SYS_PM_PER_CODE,t3.SYS_PM_PER_NAME,
        t2.SYS_PL_NAME,t2.SYS_SHORT_CODE,t2.SYS_PM_PER_CODE SYS_PL_PM_PER_CODE,t2.SYS_PM_PER_NAME SYS_PL_PM_PER_NAME,
        t4.SYS_CF_PUR_PER_CODE,t4.SYS_CF_PUR_PER_NAME,t4.SYS_CF_SUPPLIER_NUM,t4.SYS_CF_SUPPLIER_NAME,t4.SYS_CF_GOODS_SOURCE,
        t4.SYS_CF_FEE_TOTAL,t4.SYS_CF_ADDIT_CONDITION,
        '开模合同' AS SYS_CONTRACT_TYPE,
        t1.*
        FROM RD_SAMPLE_CA t1
        JOIN RD_PL_MANAGE t2 ON t1.SYS_PL_CODE=t2.SYS_PL_CODE
        JOIN RD_PSS_MANAGE t3 ON t1.SYS_PL_CODE=t3.SYS_PL_CODE AND t1.SYS_SPU=t3.SYS_SPU
        JOIN RD_SAMPLE_CFB t4 ON t1.SYS_CUST_FEBK_CODE=t4.SYS_CUST_FEBK_CODE
        where 1=1
        <if test="paramCondition.sysSaApStatus != null and paramCondition.sysSaApStatus != ''">
            AND t1.SYS_SA_AP_STATUS = #{paramCondition.sysSaApStatus}
        </if>
        <if test="paramCondition.sysTsTaskCode != null and paramCondition.sysTsTaskCode != ''">
            AND t1.SYS_TS_TASK_CODE = #{paramCondition.sysTsTaskCode}
        </if>
        <if test="paramCondition.sysSpu != null and paramCondition.sysSpu != ''">
            AND t3.SYS_SPU = #{paramCondition.sysSpu}
        </if>
        <if test="paramCondition.sysPlCode != null and paramCondition.sysPlCode != ''">
            AND t2.SYS_PL_CODE = #{paramCondition.sysPlCode}
        </if>
        ORDER BY t1.SYS_FEE_APP_CODE DESC

    </select>

    <select id="listPage" resultType="com.tadpole.cloud.product.api.productproposal.model.result.RdSampleCaResult">
        SELECT
        t3.SYS_PRO_NAME,t3.SYS_STYLE,t3.SYS_MAIN_MATERIAL,t3.SYS_BRAND,t3.SYS_MODEL,t3.SYS_PM_PER_CODE,t3.SYS_PM_PER_NAME,
        t2.SYS_PL_NAME,t2.SYS_SHORT_CODE,t2.SYS_PM_PER_CODE SYS_PL_PM_PER_CODE,t2.SYS_PM_PER_NAME SYS_PL_PM_PER_NAME,
        t4.SYS_CF_PUR_PER_CODE,t4.SYS_CF_PUR_PER_NAME,
        t5.SYS_SA_STA_CONTRACT_DOC,t5.SYS_MOF_SUB_DATE,
        '开模合同' AS SYS_CONTRACT_TYPE,
        t1.*
        FROM RD_SAMPLE_CA t1
        JOIN RD_PL_MANAGE t2 ON t1.SYS_PL_CODE=t2.SYS_PL_CODE
        JOIN RD_PSS_MANAGE t3 ON t1.SYS_PL_CODE=t3.SYS_PL_CODE AND t1.SYS_SPU=t3.SYS_SPU
        JOIN RD_SAMPLE_CFB t4 ON t1.SYS_CUST_FEBK_CODE=t4.SYS_CUST_FEBK_CODE
        LEFT JOIN (SELECT SYS_FEE_APP_CODE,SYS_SA_STA_CONTRACT_DOC,MIN(SYS_MOF_SUB_DATE) SYS_MOF_SUB_DATE FROM
        RD_MOLD_OPEN_PFA GROUP BY SYS_FEE_APP_CODE,SYS_SA_STA_CONTRACT_DOC) t5 ON
        t1.SYS_FEE_APP_CODE=t5.SYS_FEE_APP_CODE
        where 1=1 AND t1.SYS_SA_AUDIT_RESULT='同意'
        <if test="paramCondition.sysTaCode != null and paramCondition.sysTaCode != ''">
            AND t1.SYS_TA_CODE = #{paramCondition.sysTaCode}
        </if>
        <if test="paramCondition.sysTaCodeList != null and paramCondition.sysTaCodeList.size() > 0">
            AND t1.SYS_TA_CODE in
            <foreach collection="paramCondition.sysTaCodeList" item="item" index="index" open="(" separator=","
                     close=")">
                #{item}
            </foreach>
        </if>
        <if test="paramCondition.sysCfPurPerName != null and paramCondition.sysCfPurPerName != ''">
            AND t4.SYS_CF_PUR_PER_NAME = #{paramCondition.sysCfPurPerName}
        </if>

        <if test="paramCondition.sysCfPurPerNameList != null and paramCondition.sysCfPurPerNameList.size() > 0">
            AND t4.SYS_CF_PUR_PER_NAME in
            <foreach collection="paramCondition.sysCfPurPerNameList" item="item" index="index" open="(" separator=","
                     close=")">
                #{item}
            </foreach>
        </if>
        <if test="paramCondition.sysSaContractUdList != null and paramCondition.sysSaContractUdList.size() > 0">
            AND t1.SYS_SA_CONTRACT_UD &gt;= to_date(#{paramCondition.sysSaContractUdList[0]},'yyyy-mm-dd')
            AND t1.SYS_SA_CONTRACT_UD &lt;= to_date(#{paramCondition.sysSaContractUdList[1]},'yyyy-mm-dd')+1
        </if>
        <if test="paramCondition.sysSaAuditDateList != null and paramCondition.sysSaAuditDateList.size() > 0">
            AND t1.SYS_SA_AUDIT_DATE &gt;= to_date(#{paramCondition.sysSaAuditDateList[0]},'yyyy-mm-dd')
            AND t1.SYS_SA_AUDIT_DATE &lt;= to_date(#{paramCondition.sysSaAuditDateList[1]},'yyyy-mm-dd')+1
        </if>
        <if test="paramCondition.sysSaContractDoc != null and paramCondition.sysSaContractDoc != ''">
            AND t1.SYS_SA_CONTRACT_DOC LIKE '%'|| #{paramCondition.sysSaContractDoc} ||'%'
        </if>
        <if test="paramCondition.sysSaContractDocList != null and paramCondition.sysSaContractDocList.size() > 0">
            AND
            <foreach collection="paramCondition.sysSaContractDocList" item="item" index="index" open="("
                     separator=" or " close=")">
                t1.SYS_SA_CONTRACT_DOC LIKE '%'|| #{item} ||'%'
            </foreach>
        </if>
        <if test="paramCondition.sysSpu != null and paramCondition.sysSpu != ''">
            AND t3.SYS_SPU = #{paramCondition.sysSpu}
        </if>
        <if test="paramCondition.sysPlCode != null and paramCondition.sysPlCode != ''">
            AND t2.SYS_PL_CODE = #{paramCondition.sysPlCode}
        </if>

        ORDER BY t1.SYS_FEE_APP_CODE DESC

    </select>

    <select id="detail" resultType="com.tadpole.cloud.product.api.productproposal.model.result.RdSampleCaResult">
        SELECT
        t1.SYS_TS_TASK_STATUS,t1.SYS_TS_TASK_NAME,t1.SYS_TS_SAMPLE_METHOD,t1.SYS_TS_FEBK_DEADLINE,t1.SYS_TS_DEADLINE,t1.SYS_TS_STYLE_REQ,t1.SYS_TS_BRAND_REQ,
        t1.SYS_TS_MATERIAL_REQ,t1.SYS_TS_PATTERN_REQ,t1.SYS_TS_COLOR_REQ,t1.SYS_TS_SIZE_REQ,t1.SYS_TS_WEIGHT_REQ,t1.SYS_TS_PACK_QTY_REQ,t1.SYS_TS_FUNCTION_REQ,t1.SYS_TS_PARTS_REQ,
        t1.SYS_TS_PACK_REQ,t1.SYS_TS_COMPLIANCE_REQ,t1.SYS_TS_CERTIFICATION_REQ,t1.SYS_TS_DESIGN_DOC,t1.SYS_TS_BOT_LINE_PUR_PRICE,t1.SYS_TS_FOOTNOTE,t1.SYS_TS_RELIEASE_DATE,
        t1.SYS_TS_SUB_PER_NAME,t1.SYS_TS_SUB_PER_CODE,t1.SYS_TS_SAMP_TOD,t1.SYS_TS_CLOSE_TYPE,t1.SYS_TS_CLOSE_REASON,t1.SYS_TS_CLOSE_DATE,t1.SYS_TS_CLOSE_PER_NAME,t1.SYS_TS_CLOSE_PER_CODE,
        t2.SYS_DEV_METHOND,t2.SYS_TA_LEVEL,t2.SYS_TA_PA_DATE,t2.SYS_TA_LTR_DATE,
        t3.SYS_PRO_NAME,t3.SYS_STYLE,t3.SYS_MAIN_MATERIAL,t3.SYS_BRAND,t3.SYS_MODEL,t3.SYS_PM_PER_CODE,t3.SYS_PM_PER_NAME,
        t4.SYS_PL_NAME,t4.SYS_SHORT_CODE,t4.SYS_PM_PER_CODE SYS_PL_PM_PER_CODE,t4.SYS_PM_PER_NAME SYS_PL_PM_PER_NAME,
        t5.SYS_CF_SUPPLIER_NUM,t5.SYS_CF_SUPPLIER_NAME,t5.SYS_CF_GOODS_SOURCE,t5.SYS_CF_MOLD_OPEN_FEE,t5.SYS_CF_FEE_TOTAL,t5.SYS_CF_SAMPLE_FEE,t5.SYS_CF_IS_MOLD_OPEN,
        t5.SYS_CF_IS_REFUND,t5.SYS_CF_REFUND_TYPE,t5.SYS_CF_REFUND_CONDITION,t5.SYS_CF_INIT_QUOTE,t5.SYS_CF_MIN_ORDER_QTY_REQ,t5.SYS_CF_PRODUCT_CYCLE,t5.SYS_CF_CUST_TIME,
        t5.SYS_CF_ADDIT_CONDITION,t5.SYS_CF_PUR_PER_CODE,t5.SYS_CF_PUR_PER_NAME,t5.SYS_CF_SUB_PER_NAME,t5.SYS_CF_SUB_PER_CODE,t5.SYS_CF_SUB_DATE,t5.SYS_CF_DEV_EXPLAIN,
        t5.SYS_CF_DEV_RESULT,t5.SYS_CF_DEV_DATE,t5.SYS_CF_DEV_PER_NAME,t5.SYS_CF_DEV_PER_CODE,t5.SYS_CF_TICKET_TYPE,t5.SYS_CF_ACCOUNT_TYPE,t5.SYS_CF_PAY_METHOD,
        t5.SYS_CF_BANK_ACCOUNT,t5.SYS_CF_ACCOUNT_NAME,t5.SYS_CF_BANK_NAME,t5.SYS_CF_ALIPAY_ACCOUNT,t5.SYS_CF_ALIPAY_AN,
        t7.SYS_SA_STA_CONTRACT_DOC,t7.SYS_MOF_SUB_DATE,
        t6.*
        FROM RD_SAMPLE_CFB t5
        JOIN RD_SAMPLE_TASK t1 ON t1.SYS_TS_TASK_CODE=t5.SYS_TS_TASK_CODE
        JOIN RD_PROPOSAL t2 ON t1.SYS_TA_CODE=T2.SYS_TA_CODE
        JOIN RD_PSS_MANAGE t3 ON t1.SYS_PL_CODE=t3.SYS_PL_CODE AND t1.SYS_SPU=t3.SYS_SPU
        JOIN RD_PL_MANAGE t4 ON t1.SYS_PL_CODE=t4.SYS_PL_CODE
        left JOIN RD_SAMPLE_CA t6 ON t5.SYS_CUST_FEBK_CODE=t6.SYS_CUST_FEBK_CODE
        LEFT JOIN (SELECT SYS_FEE_APP_CODE,SYS_SA_STA_CONTRACT_DOC,MIN(SYS_MOF_SUB_DATE) SYS_MOF_SUB_DATE FROM
        RD_MOLD_OPEN_PFA GROUP BY SYS_FEE_APP_CODE,SYS_SA_STA_CONTRACT_DOC) t7 ON
        t6.SYS_FEE_APP_CODE=t7.SYS_FEE_APP_CODE
        where 1=1
        <if test="paramCondition.sysFeeAppCode != null and paramCondition.sysFeeAppCode != ''">
            AND t6.SYS_FEE_APP_CODE = #{paramCondition.sysFeeAppCode}
        </if>
        <if test="paramCondition.sysCustFebkCode != null and paramCondition.sysCustFebkCode != ''">
            AND t5.SYS_CUST_FEBK_CODE = #{paramCondition.sysCustFebkCode}
        </if>

    </select>

</mapper>
