<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tadpole.cloud.externalSystem.modular.oa.mapper.HrmresourcetoebmsMapper">

    <select id="getHrmResource"
            resultType="com.tadpole.cloud.externalSystem.api.oa.model.result.HrmresourcetoebmsResult">

        select * from ecology.dbo.HrmResourceToEbms
    </select>
</mapper>
